<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="TRACE">
    <Appenders>
        <RollingFile name="RollingFile" fileName="twitter-scraper.log" bufferedIO="true" immediateFlush="true"
                     filePattern="twitter-scraper-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <pattern>%d{dd-MM-yyyy HH:mm:ss} %-5p %c{1}#%L: %m%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 Mb"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="root" level="trace" additivity="false">
            <appender-ref ref="RollingFile" level="debug"/>
        </Logger>
        <Root level="trace" additivity="false">
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>
